.main{
    width: 90%;
    &__titulo{
        margin: 3vh 0;
    }
    &__portada{
        margin: 3vh 0;
    }
    &__progreso{
        margin: 3vh 0;
    }
    &__barraProgreso{
        margin: 3vh 0;
    }
    &__contenido{
        margin: 3vh 8%;
    }
}