.main{
    width: 90%;
    &__titulo{
        margin: 3vh 0;
        text-decoration: underline $color3;
    }
    &__portada{
        width: 100%;
        margin: 3vh 0;
        clip-path: polygon(1% 1%, 95% 1%, 99% 99%, 5% 99%);
        border: 1px white solid;
    }
    &__progreso{
        margin: 3vh 0;
    }
    &__barraProgreso{
        margin: 3vh 0;
    }
    &__contenido{
        margin: 3vh 8%;
        text-align: center;
        span{
            color: $color4;
        }
    }
}